$blue: #59b4e6;
$green: #95c11b;
$yellow: #fcd300;
$red: #c22118;

$fontHeader: 2em;
$fontBody: 16px;

$roundTable: 20px;

/* Шрифты */

@font-face {
  font-family: UniverseMedium;
  src: url("/fonts/UniversMedium.ttf");
  src: url("/fonts/UniversMedium.woff");
}

body {
  font-family: UniverseMedium, "Arial", sans-serif;
  font-size: $fontBody;
  color: darken($blue, 50%);
  background-image: url("/img/dots.png");
}

.header {
  font-size: $fontHeader;
  text-align: center;
  font-variant: small-caps;
}

/* таблица */

.container {
  width: 90%;
  margin: auto;
}

.table {
  //border-collapse: collapse;
  width: 100%;
  margin: auto;
}

thead th:not(:last-of-type),
td,
tfoot th {
  border: 2px solid lighten($blue, 10%);
}

th,
td {
  padding: 0.6em 0.8em;
  text-align: center;
}

thead th:first-child {
  border-top-left-radius: $roundTable;
}

thead th:nth-last-child(2) {
  border-top-right-radius: $roundTable;
}

thead th:not(:last-of-type) {
  background-color: lighten($blue, 10%);
}

tfoot th {
  background-color: lighten($blue, 20%);
  border-radius: 0 0 $roundTable $roundTable;
}

tr:hover > td {
  background: lighten($green, 40%);
  cursor: pointer;
}

/* Кнопки */

button,
input {
  cursor: pointer;
}

.button {
  font-weight: 700;
  color: white;
  padding: .8em 1em calc(.8em + 2px);
  border-radius: 7px;
  background: $blue;
  box-shadow: 0 -3px darken($blue, 10%) inset;
  transition: 0.2s;
  margin: 0 0 10px 5px;
}

.button:hover {
  background: darken($blue, 10%);
}

.deleteButton {
  background-image: url("/img/trash.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1.6em;
  margin: 10% 25%;
  opacity: 0.2;
  border-radius: 50%;
}

tr:hover > .deleteButton {
  //opacity: 0.8;
  background-color: lighten($yellow, 20%);
}

.deleteButton:hover {
  opacity: 1;
}

/* всплывающее окно */

.hidden {
  display: none;
}

#popup_head {
  font-variant: small-caps;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 2px;
}

#popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

#popup_window {
  min-width: 65%;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid $green;
  padding: 1em;
  border-radius: $roundTable;
}

#popup_window input {
  width: 25%;
  padding: 0.8em;
  margin: 1em;
}

.error {
  box-shadow: $red 0px 0px 20px;
  color: $red;
}