extends layout.pug
include lpu.pug

block content

    table.table
        button#add_button.button Добавить
        button#deleteAll_button.button Очистить хранилище
        thead
            tr
                th Наименование
                th Адрес
                th Телефон
        tbody#tbody

        tfoot
            tr
                th#tfoot(colspan='3')

    +popupForm
    span#json(data-json = myJson)
