extends layout.pug
include lpu.pug

block content
    button#add_button Добавить
    button#deleteAll_button Очистить хранилище
    table.table
        thead
            tr
                th Наименование
                th Адрес
                th Телефон
        tbody#tbody
            // each item in hospital
            //     tr(data-id = item.id)
            //         td.full_name #{item.full_name}
            //         td.phone #{item.phone}
            //         td.address #{item.address}
        tfoot
            tr
                th#tfoot(colspan='6')

    +popupForm
    span#json(data-json = myJson)
