- var title = 'Список лечебно-профилактических учреждений'

doctype html
html(lang='en')
    head
        link(href='stylesheets/style.css' rel='stylesheet')
        title #{title}
    body
        main
            h1.header #{title}
            .container

                block content

            block footer
                footer
                p © #{new Date().getFullYear()} My Hands

            script(src='script.js')