mixin popupForm

    #popup.hidden
        #popup_window
            h3#popup_head Введите данные
            form#form(action='/')
                input#full_name(type='text' placeholder='Наименование' required)
                input#address(type='text' placeholder='Адрес' required)
                input#phone(type='text' placeholder='Телефон' required)
                button#ok_button ОК
                button#close_button Закрыть