body {
    background-image: url('/img/dots.png');
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, tr, td {
    border: 2px solid #59b4e6;
    padding: 10px 15px;
    position: relative;
}

button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #59b4e6;
    box-shadow: 0 -3px #2ea2e0 inset;
    transition: 0.2s;
    margin-bottom: 10px;
}
button:hover {
    background: #2ea2e0;
}

button:active {
    background: #2ea2e0;
    box-shadow: 0 3px #2ea2e0 inset;
}

tbody tr:hover {
    background-color: #2ea2e0;
}

#popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

#popup_window {
    min-width: 90%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

.error {
    outline: 3px solid red;
}

.deleteBut {
    content: '';
    position: absolute;
    background-image: url("/img/trash.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    right: 0;
    top: 0;
}